!!! XML
!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %title= "IV Congresso Internacional de Direito do Trabalho - #{page.title}"
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    = juice_css %w{reset text 960 style sifr}
    / [if IE]<link rel="stylesheet" href="css/png_fix.css" type="text/css" />
    / [if IE 6]
      <link rel="stylesheet" href="css/ie6.css" type="text/css" />
  %body
    #site
      %div{:class => "container_12 #{layout_type}"}
        #header
          .grid_4
            %h1
              %a.notext(href='index')
                IV Congresso Internacional de Direito do Trabalho
          #balanca.grid_6.prefix_1 
            = image_tag "theme/balanca.png", :alt => "IV CIDT - Congresso Internacional de Direito do Trabalho"
          #menu.grid_12
            %ul
              - site.posts.each do |post|
                %li{:class => "#{'current' if (page.title == post.title)}"}
                  %a{ :href => post.url}= post.title
        #container.grid_12
          #banner.grid_12
            = image_tag "theme/banner.jpg", :alt => "SERHS NATAL GRAND HOTEL"
          #content.grid_12
            - if layout_type == 'internal_page'
              #title
                %h2= page.title
                %hr
              = content
            - else
              = content
          #footer.grid_12
            #sponsor
              #patrocinio.grid_4.alpha
                %h5 PATROCÍNIO
                #scroller.scrollable
                  .items
                    %a#cosern{ :class => "notext", :href => 'http://cosern.com.br', :target => '_blank' } COSERN
                    %a#farn{ :class => "notext", :href => 'http://farn.br', :target => '_blank' } FARN
                    %a#bb{ :class => "notext", :href => 'http://bb.com.br', :target => '_blank' } BANCO DO BRASIL
                    %a#cef{ :class => "notext", :href => 'http://caixa.gov.br', :target => '_blank' } CAIXA ECONÔMICA FEDERAL
                    %a#sterbom{ :class => "notext", :href => 'http://sterbom.com.br', :target => '_blank' } STERBOM
                    %a#petrobras{ :class => "notext", :href => 'http://petrobras.com.br', :target => '_blank'} PETROBRÁS
                    %a#unp{ :class => "notext", :href => 'http://unp.br', :target => '_blank'} UNP                    
                    %a#facex{ :class => "notext", :href => 'http://facex.com.br', :target => '_blank'} FACEX 
                    %a#fiern{ :class => "notext", :href => 'http://fiern.org.br', :target => '_blank'} FIERN 
                    %a#prefeitura{ :class => "notext", :href => 'http://natal.rn.org.br', :target => '_blank'} PREFEITURA DO NATAL 
                    %a#unicred{ :class => "notext", :href => 'http://www.unicred.com.br', :target => '_blank'} UNICRED
                    %a#sta-clara{ :class => "notext", :href => 'http://www.cafesantaclara.com.br', :target => '_blank'} CAFÉ SANTA CLARA
              #promocao.grid_3
              #promocao.grid_3
                %h5 PROMOÇÃO
                %a{ :href => "http://www.amatra21.org.br", :target => '_blank' }
                  %img.space{ :src => "images/theme/amatra-logo.png", :height => "48px", :alt => "Amatra 21"}
                %a{ :href => "http://www.trt21.jus.br/", :target => '_blank' }
                  %img{ :src => "images/theme/trt-logo.png", :height => "73px", :alt => "TRT XXI RN"}
              #apoio.grid_3
                %h5 APOIO
                %a{ :href => "http://natal.rn.gov.br", :target => '_blank' }
                  %img.space{ :src => "images/theme/natal-logo.png", :height => "40px", :alt => " Prefeitura do Natal"}
                %a{ :href => "http://rn.gov.br", :target => '_blank' }
                  %img{ :src => "images/theme/logo-governo.jpg", :height => "56px", :alt => "Governo do Estado do RN"}
              #organizacao.grid_2.omega
                %h5 ORGANIZAÇÃO
                %a{ :href => "http://ideiaseventos.com.br", :target => '_blank' }
                  %img{ :src => "images/theme/ideias-logo.png", :height => "47px", :alt => "Idéias Eventos"}
        #copyright.grid_12
          Todos os direitos reservados ao IV Congresso Internacional de Direito do Trabalho
          %br
          %a{ :href => "mailto:cidtnatal2010@ideiaseventos.com.br" } cidtnatal2010@ideiaseventos.com.br
    %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js', :type => 'text/javascript' }
    = juice_js %w{sifr sifr-config scroller jquery.tools.min gridder jquery.validate localization/messages_ptbr}
    - if variable(:javascript)
      %script{:type => 'text/javascript'}
        = variable(:javascript)
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    / [if IE 6]
      :javascript
        /*Load jQuery if not already loaded*/
        if(typeof jQuery == 'undefined'){
          document.write("<script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js\"></"+"script>");
          var __noconflict = true;
        }
        var IE6UPDATE_OPTIONS = {
          icons_path: "http://static.ie6update.com/hosted/ie6update/images/"
        }
      %script{ :type => "text/javascript", :src => "../js/ie6update.js" }
    :javascript
      try {
        var pageTracker = _gat._getTracker("UA-12838754-1");
        pageTracker._trackPageview();
      }
      catch(err) {}
