!!! XML
!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %title
      IV Congresso Internacional de Direito do Trabalho
      - if page.title
        \-
        = page.title
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    - %w{reset text 960 style sifr}.each do |style|
      = css_tag "#{style}.css"
    / [if IE]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]

  %body
    #header
      %div{:class => "container_12 #{layout_type}"}
        .grid_4
          %h1
            %a.notext(href='index')
              IV Congresso Internacional de Direito do Trabalho
        #balanca.grid_6.prefix_1 
          = image_tag "theme/balanca.png", :alt => "IV CIDT - Congresso Internacional de Direito do Trabalho"
        #menu.grid_12
          %ul
            - site.posts.each do |post|
              %li{:class => "#{'current' if (page.title == post.title)}"}
                %a{ :href => post.url}= post.title
        #container.grid_12
          #banner.grid_12
            = image_tag "theme/banner.jpg", :alt => "SERHS NATAL GRAND HOTEL"
          #content.grid_12
            - if layout_type == 'internal_page'
              #title
                %h2= page.title
                %hr
              = content
            - else
              = content
          #footer.grid_12
            #sponsor
              #patrocinio.grid_4.alpha
                %h5 PATROCÍNIO
                #scroller.scrollable
                  .items
                    %a#cosern{ :class => "notext", :href => 'http://cosern.com.br' } COSERN
                    %a#farn{ :class => "notext", :href => 'http://farn.br' } FARN
                    %a#bb{ :class => "notext", :href => 'http://bb.com.br' } BANCO DO BRASIL
                    %a#cef{ :class => "notext", :href => 'http://caixa.gov.br' } CAIXA ECONÔMICA FEDERAL
                    %a#fal{ :class => "notext", :href => 'http://falnatal.com.br' } FAL
                    %a#sterbom{ :class => "notext", :href => 'http://sterbom.com.br' } STERBOM
                    %a#correios{ :class => "notext", :href => 'http://correios.com.br' } CORREIOS
                    %a#petrobras{ :class => "notext", :href => 'http://petrobras.com.br'} PETROBRÁS
                    %a#unp{ :class => "notext", :href => 'http://unp.br'} UNP                    
                    %a#fcc{ :class => "notext", :href => 'http://fcamaracascudo.com.br'} FACULDADE CÂMARA CASCUDO 
                    %a#facex{ :class => "notext", :href => 'http://facex.com.br'} FACEX 
                    %a#fiern{ :class => "notext", :href => 'http://fiern.org.br'} FIERN 
                    %a#prefeitura{ :class => "notext", :href => 'http://natal.rn.org.br'} PREFEITURA DO NATAL 
              #promocao.grid_3
                %h5 PROMOÇÃO
                %a#amatra{ :class => "notext", :href => "#" } AMATRA
                %a#trt{ :class => "notext", :href => "#" } TRT XXI RN
              #apoio.grid_3
                %h5 APOIO
                %a#natal{ :class => "notext", :href => "http://natal.rn.gov.br" } Prefeitura do Natal
                %a#rn{ :class => "notext", :href => "http://rn.gov.br" } Governo do Estado do RN
              #organizacao.grid_2.omega
                %h5 ORGANIZAÇÃO
                %a#ideias{ :class => "notext", :href => "http://ideiaseventos.com.br" } Idéias Eventos
        #copyright.grid_12
          Todos os direitos reservados ao IV Congresso Internacional de Direito do Trabalho
          %br
          %a{ :href => "mailto:cidtnatal2010@ideiaseventos.com.br" } cidtnatal2010@ideiaseventos.com.br
    %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js', :type => 'text/javascript' }
    - %w{sifr sifr-config jquery.tools.min theme gridder}.each do |js|
      = script_tag "#{js}.js"
