!!! XML
!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %title
      Type here your page title
      - if page.title
        \-
        = page.title
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    - %w{reset text 960 style sifr}.each do |style|
      %link{:href => "css/#{style}.css", :rel => 'stylesheet'}
    / [if IE]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]

  %body
    #header
      %h1
        %a.notext(href='index')
          Type here page header title

    %div{:class => "container_16 #{layout_type}"}
      #sidebar.grid_3
        %ul
          - site.posts.each do |post|
            %li{:class => "#{'current' if (page.title == post.title)}"}
              %a{ :href => post.url}= post.title

      #content.grid_13
        - if layout_type == 'internal_page'
          #logo_conag.grid_3.pull_1.alpha
            %img{ :src => "images/logo.png", :alt => "Title of the logo" }
          .grid_10.omega
            %h2= page.title
            = content
        - else
          = content
      .clear
    #footer
      .container
        .copyright
          %span.name
            ©2009 | Who owns this?
          %br
          %span.email
            %a{ :href => "mailto:my@email.com" }
              contact us
    %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js', :type => 'text/javascript' }
    - %w{sifr sifr-config jquery.tools.min theme}.each do |js|
      %script{ :src => "js/#{js}.js", :type => 'text/javascript'}
